Repository pixel-point/gatsby-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --cache --fix --ignore-path .gitignore, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx}": "eslint --cache --fix",
  "*.{css,sass,scss,md,html}": "stylelint --cache --fix --ignore-path .gitignore",
  "*.{md}": "markdownlint --fix --ignore-path .gitignore"
}

style: run linters on all files
  src/pages/404.jsx
  src/pages/index.jsx
  src/pages/page-2.jsx
  src/styles/app.scss
  src/styles/mixins.scss
Due: eslint --cache --fix, stylelint --cache --fix --ignore-path .gitignore

chore: move node-sass to devDependencies
  package-lock.json
  package.json
Due: none

docs: update README
  README.md
Due: stylelint --cache --fix --ignore-path .gitignore

refactor: remove bulma and move mixins into separate files
  package-lock.json
  package.json
  src/styles/app.scss
  src/styles/global.scss
  src/styles/mixins.scss
  src/styles/mixins/convert-br-into-space.scss
  src/styles/mixins/media-queries.scss
  src/styles/variables.scss
Due: stylelint --cache --fix --ignore-path .gitignore

refactor(styles): update styles and commets for the class "section"
  src/styles/global.scss
Due: stylelint --cache --fix --ignore-path .gitignore

fix(components): add class "section" to the wrapper in Header
  src/components/shared/header/header.jsx
Due: eslint --cache --fix

refactor: fix stylelint errors
  src/components/shared/header/header.module.scss
  src/styles/fonts.scss
Due: stylelint --cache --fix --ignore-path .gitignore

chore: update gatsby from 2.24.57 to 2.24.58
  package-lock.json
  package.json
Due: none

refactor(styles): replace global class "section" with mixin "section-paddings"
  src/components/shared/header/header.module.scss
  src/styles/global.scss
  src/styles/mixins.scss
  src/styles/mixins/section-paddings.scss
  src/styles/variables.scss
Due: stylelint --cache --fix --ignore-path .gitignore

chore: upgrade dependencies
  package-lock.json
  package.json
Due: none

chore: add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: stylelint --cache --fix --ignore-path .gitignore
