Repository pixel-point/gatsby-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

Delete dependencies for storybook
  .eslintrc.js
Due: prettier --write, eslint --cache --fix

Add option for css-modules
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

Fix dev-dependencies
  package.json
Due: none

Add shared component Link
  src/components/shared/link/index.js
  src/components/shared/link/link.js
Due: prettier --write, eslint --cache --fix

Add folder for hooks
  src/hooks/.gitkeep
Due: none

Add global and fonts styles
  src/styles/app.scss
  src/styles/fonts.scss
  src/styles/global.scss
Due: prettier --write

Add utilsmeta-image-path and get-text-without-paragraph
  src/html.js
  src/utils/create-meta-image-path.js
  src/utils/get-text-without-paragraph.js
Due: prettier --write, eslint --cache --fix

Add static variables
  src/styles/variables.scss
Due: prettier --write

Add mixins
  src/styles/mixins.scss
Due: prettier --write

Fix styles and default exports
  src/components/shared/header/header.module.scss
  src/components/shared/header/index.js
  src/components/shared/seo/index.js
  src/styles/global.scss
Due: prettier --write, eslint --cache --fix

Refactoring utils folder
  src/utils/.gitkeep
  src/utils/index.js
  src/utils/utils.js
Due: prettier --write, eslint --cache --fix

Refactoring styles global, variables, mixins
  src/styles/global.scss
  src/styles/mixins.scss
  src/styles/variables.scss
Due: prettier --write

Delete styles for header
  src/components/shared/header/header.module.scss
Due: prettier --write

Update SEO component
  src/components/shared/seo/seo.js
  src/pages/404.js
  src/pages/index.js
Due: prettier --write, eslint --cache --fix

Fix build
  src/pages/404.js
Due: prettier --write, eslint --cache --fix

Delete comment for variables
  src/components/shared/seo/seo.js
Due: prettier --write, eslint --cache --fix

Fix variables the name Breakpoints
  src/styles/mixins.scss
  src/styles/variables.scss
Due: prettier --write

Fix name breakpoint variable for lg
  src/styles/mixins.scss
  src/styles/variables.scss
Due: prettier --write

Refactoring Breakpoints variables
  src/styles/variables.scss
Due: prettier --write

Upgrade dependencies
  package-lock.json
  package.json
Due: none

Add various fixes
  package-lock.json
  package.json
  src/components/shared/header/header.js
  src/components/shared/header/header.module.scss
  src/components/shared/seo/seo.js
  src/layouts/layout-main/index.js
  src/layouts/layout-main/layout-main.module.scss
  src/layouts/main/index.js
  src/layouts/main/main.js
  src/pages/404.js
  src/pages/index.js
  src/pages/page-2.js
  src/styles/app.scss
  src/styles/global.scss
  src/styles/normalize.scss
  src/styles/variables.scss
Due: prettier --write, eslint --cache --fix

Return SEO component
  src/components/shared/seo/seo.js
Due: prettier --write, eslint --cache --fix

Run Prettier and ESLint on all files
  .drone.yml
  src/components/shared/seo/seo.js
Due: prettier --write, eslint --cache --fix

Fix SEO
  src/components/shared/seo/seo.js
Due: prettier --write, eslint --cache --fix

Update README
  README.md
  src/images/pages/.gitkeep
  src/images/shared/.gitkeep
  src/templates/.gitkeep
  static/fonts/.gitkeep
Due: prettier --write

Fix README
  README.md
Due: prettier --write

Delete LICENSE
  LICENSE
Due: none

Fix title in README
  README.md
Due: prettier --write

Add and set up Storybook
  .eslintrc.js
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
  src/components/shared/header/header.stories.js
Due: prettier --write, eslint --cache --fix

Update ESLint config
  .eslintrc.js
  src/components/shared/header/header.jsx
  src/components/shared/header/header.stories.jsx
  src/components/shared/link/link.jsx
  src/components/shared/seo/seo.jsx
  src/layouts/main/main.jsx
  src/pages/404.jsx
  src/pages/index.jsx
  src/pages/page-2.jsx
Due: prettier --write, eslint --cache --fix

chore: add and set up commitlint
  .commitlintrc.json
  .huskyrc
  package-lock.json
  package.json
Due: none

chore: add set up stylelint
  .stylelintrc
  package-lock.json
  package.json
Due: none

chore: add and set up markdownlint
  .markdownlint.json
  package-lock.json
  package.json
Due: none

chore: remove Prettier and finish set up of linters
  .huskyrc
  .lintstagedrc
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
Due: none

chore: update jsconfig.json
  jsconfig.json
Due: none

build: add limit to url-loader for svg
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

chore: add folder icons
  src/icons/.gitkeep
Due: none

chore: add .stylelintcache and .eslintcache to .gitignore
  .gitignore
Due: none

Path conditions:
  prettier --write: any of: *.{js,html,css,scss,md}
  eslint --cache --fix: any of: *.js
